img{
    height:50%;
    width:100%;
    object-fit:cover;
    border-radius:10px
}

.grid-box{
    position:relative;
    transition:transform 400ms;
}

.grid-box:hover{
    transform: scale(0.9);
}

.chip {
    position: absolute;
    top:0px;
    font-weight: 1000;
}

.content {
    background-color: black;
    opacity:0.8;
    color:white;
    height:35%;
    position:absolute;
    bottom:2px;
    right:0;
    left:0;
    transition: transform 400ms;
    padding:5px;
    overflow-y:hidden
}