img{
    height:50%;
    width:100%;
    object-fit:cover;
    border-radius:10px
}


.gridBox{
    position:relative;
    transition:transform 400ms;
}

.gridBox:hover{
    transform: scale(0.9);
}

.content {
    background-color: black;
    opacity:0.8;
    color:white;
    height:35%;
    /* width:100%; */
    position:absolute;
    bottom:2px;
    right:0;
    left:0;
    transition: transform 400ms;
    padding:5px
}