.loader{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin:auto !important;
}

@keyframes ldio-5u3sg71a4sc-1 {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(-45deg) }
  100% { transform: rotate(0deg) }
}

@keyframes ldio-5u3sg71a4sc-2 {
    0% { transform: rotate(180deg) }
   50% { transform: rotate(225deg) }
  100% { transform: rotate(180deg) }
}

.ldio-5u3sg71a4sc > div:nth-child(2) {
  transform: translate(-15px,0);
}

.ldio-5u3sg71a4sc > div:nth-child(2) div {
  position: absolute;
  top: 23.799999999999997px;
  left: 23.799999999999997px;
  width: 71.39999999999999px;
  height: 35.699999999999996px;
  border-radius: 71.39999999999999px 71.39999999999999px 0 0;
  background: #f8b26a;
  animation: ldio-5u3sg71a4sc-1 1.1235955056179776s linear infinite;
  transform-origin: 35.699999999999996px 35.699999999999996px
}

.ldio-5u3sg71a4sc > div:nth-child(2) div:nth-child(2) {
  animation: ldio-5u3sg71a4sc-2 1.1235955056179776s linear infinite
}

.ldio-5u3sg71a4sc > div:nth-child(2) div:nth-child(3) {
  transform: rotate(-90deg);
  animation: none;
}@keyframes ldio-5u3sg71a4sc-3 {
    0% { transform: translate(113.05px,0); opacity: 0 }
   20% { opacity: 1 }
  100% { transform: translate(41.65px,0); opacity: 1 }
}

.ldio-5u3sg71a4sc > div:nth-child(1) {
  display: block;
}

.ldio-5u3sg71a4sc > div:nth-child(1) div {
  position: absolute;
  top: 54.739999999999995px;
  left: -4.76px;
  width: 9.52px;
  height: 9.52px;
  border-radius: 50%;
  background: #e15b64;
  animation: ldio-5u3sg71a4sc-3 1.1235955056179776s linear infinite
}

.ldio-5u3sg71a4sc > div:nth-child(1) div:nth-child(1) { animation-delay: -0.5963s }
.ldio-5u3sg71a4sc > div:nth-child(1) div:nth-child(2) { animation-delay: -0.2937s }
.ldio-5u3sg71a4sc > div:nth-child(1) div:nth-child(3) { animation-delay: 0s }
.loadingio-spinner-bean-eater-nd5q4amr39l {
  width: 119px;
  height: 119px;
  display: inline-block;
  overflow: hidden;
  background: #000000;
}

.ldio-5u3sg71a4sc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-5u3sg71a4sc div { box-sizing: content-box; }